*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body {
  font-family: 'Sarabun', sans-serif;
  box-sizing: border-box;
  background-color: #343a40;
}
.box{
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
  font-size: 1.6rem;
}
.numb{
  font-size: 4rem
}
button{
  width: 100%
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}