@font-face{
	src:url(../fonts/Nunito-Regular.ttf);
	font-family: Nunito-r;
}
@font-face{
	src:url(../fonts/Nunito-Bold.ttf);
	font-family: Nunito-b;
}
@font-face{
	src:url(../fonts/Nunito-Light.ttf);
	font-family: Nunito-l;
}
@font-face{
	src:url(../fonts/Nunito-LightItalic.ttf);
	font-family: Nunito-li;
}
@font-face{
	src:url(../fonts/Nunito-Black.ttf);
	font-family: Nunito-black;
}
@font-face{
	src:url(../fonts/Nunito-SemiBold.ttf);
	font-family: Nunito-Semi;
}
$font-r: Nunito-r;
$font-b: Nunito-b;
$font-l: Nunito-l;
$font-li: Nunito-li;
$font-bl: Nunito-black;
$font-bs: Nunito-Semi;

$xanhnhat: #89c766;
$trang: #fff;
$den: #131313;
$do: #df0000;
$xam: #333;
$tim: #6d549d;

@mixin canhtam() {
	display: flex;
	align-items: center;
}

*{margin: 0;padding: 0;list-style: none;}
body{ 
	background-color: $xam;
}
#nen{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	opacity: .5;
}
.canhtop{height: 60px;
	img{
		height: 60px;
	}
}
// =================================================đây là footer
.footer {
	background-size: cover;
	background-position: center;
	color: $trang;
 	background-image: url(../image20/anh7.jpg);
 	padding: 0;
}
 .footer .nenden{
 	background-color: rgba($den, 0.9);
 	padding-bottom: 15px;
 }
.footer .phan1 h5, .phan2 h5{
	font-family: $font-b;
	text-transform: uppercase;
}
.footer .phan1 ul li{
	font-family: $font-l;
	font-size: 16px;
}
.phan2 h5{
	text-align: center;
}
.footer .phan2 ul{
	display: flex;
	justify-content: center;
}
.footer .phan2 ul li {
	font-family: $font-l;
	padding: 10px;
}
.footer .phan2 ul li a{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: $trang;
	border-radius: 50%;
	font-size: 30px;
	position: relative;
	z-index: 1;
	i{
		// color: #3b5999;
		color: $xam;
		transition: color .3;
	}
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		// transform-origin: left;
		transition: transform .3s;
		z-index: -1;
		transform-origin: right;
		transform: scaleX(0);
	}
}
.footer .phan2 ul li a:hover i{
	color: $trang;
}
.footer .phan3 ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	li a{
		padding: 5px 10px;
		color: $trang;
		font-family: $font-l;
		font-size: 16px;
	} 
}
.footer .phan2 ul li:nth-child(1) a i{color: #3b5999;}
.footer .phan2 ul li:nth-child(2) a i{color: #55acee;}
.footer .phan2 ul li:nth-child(3) a i{color: #dd4b39;}
.footer .phan2 ul li:last-child a i{color: #e4405f;}
.cuoicung{
	background-color: rgba($tim, .3);
	padding: 0;
	p{
		margin-bottom: 0;
		padding: 5px;
		color: $trang;
		font-family: $font-l;
	}
}
// =========================================đây là slide
.boslide{background-color: rgba($den, .7);padding-top: 15px;}
.flickity-page-dots { bottom: 10px; }

.boslide h5.tieude{ text-align: center;
	color: $trang; font-family: $font-b;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size: 25px;
	position: relative;
	&:before, &:after{
		content: '';
		position: absolute;
		bottom: -15px;
		left: 50%;
		transform: translateX(-115%);
		width: 10%;
		height: 2px;
		background-color: $xam;
	}
	&:after{transform: translateX(15%);}
	span{
		&:before, &:after{
			content: '';
			position: absolute;
			bottom: -15px;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			width: 20px;
			height: 2px;
			background-color: $xam;
		}
		&:after{transform: translateX(-50%) rotate(-45deg);}
	}
  }
.carousel-cell {
	width: 100%;
	// height: 100% !important;
	color: $trang;
	.card{
		position: relative;
		border: none;	
		width: 100%;
		height: 100% !important;
		background-color: transparent;
		padding: 0 15px;
		img{
			width: 200px;
			height: 200px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
		}
		h5.card-title{font-family: $font-b;font-size: 30px;}
		p.card-title{font-family: $font-b;font-size: 25px;}
		p.card-text{font-family: $font-l;font-size: 20px;}
	}
}
// ===========================================
.noidung1{
	color: $trang;
	.chieucao{
		@include canhtam();
		justify-content: center;
		height: 350px;
		.canhtheo{
			position: relative;
			width: 70%;
			height: 70%;
			background-color: $tim;
			padding: 15px;
			img{position: absolute;}
			img.anh1{width: 50%;right: -53px;top: -30px;}
			img.anh3{width: 50%;bottom: -45px;right: -45px;}
			img.anh2{width: 50%;bottom: -50px;left: -34px;}
			p{font-family: $font-b;font-size: 20px;text-transform: uppercase;}
			h3{font-family: $font-b;font-size: 45px;text-transform: uppercase;}
			&:before, &:after{
				content: '';
				position: absolute;
				left: -5px;
				top: -5px;
				background-image: -webkit-linear-gradient(45deg, $tim,$trang,$tim,$trang,$tim,$trang,$tim,$trang,$tim);
				width: calc(100% + 10px);
				height: calc(100% + 10px);
				background-size: 400%;
				z-index: -1;
				animation: animate 10s linear infinite;
			}
			&:after{
				filter: blur(15px);
				opacity: .5;
			}
		}
	}
}
@-webkit-keyframes animate {
	0%{background-position: 0 0;}
	50%{background-position: 200% 0;}
	100%{background-position: 400% 0;}
}
.noidung2.add{
	padding-top: 15px;
	ul{
			width: 90%;
			margin-left: 25px;
			li{
				font-size: 20px;
				font-family: $font-l;
				i{
					font-size: 20px;
					margin-left: -29px;
				}
			}
		}
}
.noidung2{
	color: $trang;
	background-color: rgba($den, .7);
	.canhle{
		h3{
			font-family: $font-b;
			text-transform: uppercase;
			margin-top: 20px;
		}
		.khoicanh{
			.khoitim{
				background-color: $tim;
				h5{text-align: right;color: $den;
					font-family: $font-bl;
					font-size: 40px;
					margin-right: 20px;

				}	
				h1{font-family: $font-bl;
					font-size: 70px;
					margin-left: 20px;
				}
			}
		}
		button.btn-primary{font-family: $font-r;text-transform: uppercase;}
		.card{padding: 15px;background-color: $tim;}
		.canhtrai{text-align: left;font-size: 20px;}
		label{font-family: $font-r;font-size: 20px;}
		input{font-family: $font-r}
		h2{font-size: 30px; font-family: $font-b;margin: 10px 0;}
		
	}
}
// ==============================================nút lên trên
.nutlentren{
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 1000;
	a {
		display: none;
		padding: 5px 10px;
		border-radius: 20px;
		background-color: rgba($trang, .8);
		i{
			color: $tim;
			font-size: 30px;
		}
	}
}
.flickity-prev-next-button.next{right: -100px;}
.flickity-prev-next-button.previous{left: -100px;}
//==================hết nội dung phần top=====================
// ==============nội dung phần khuyến mãi


@media screen and (min-width: 768px){
.noidung1{
	@include canhtam();
	justify-content: center;
	.chieucao{
		height: auto;
		width: 100%;
		.canhtheo{
			img.anh1{width: 50%;right: -53px;top: -30px;}
			img.anh3{width: 50%;bottom: -45px;right: -45px;}
			img.anh2{width: 50%;bottom: -50px;left: -34px;}
			p{font-family: $font-b;font-size: 20px;text-transform: uppercase;}
			h3{font-family: $font-b;font-size: 45px;text-transform: uppercase;}
			&:before, &:after{
				content: '';
				position: absolute;
				left: -5px;
				top: -5px;
				background-image: -webkit-linear-gradient(45deg, $tim,$trang,$tim,$trang,$tim,$trang,$tim,$trang,$tim);
				width: calc(100% + 10px);
				height: calc(100% + 10px);
				background-size: 400%;
				z-index: -1;
				animation: animate 10s linear infinite;
			}
			&:after{
				filter: blur(15px);
				opacity: .5;
			}
		}
	}
}
	
	.footer .phan1 li{font-size: 17px;font-family: $font-l;}
	.footer .phan1 h5, .footer .phan2 h5{font-size: 22px;}
	.footer .phan3 ul {
		li a{
			padding: 5px 25px;
			font-size: 17px;
		} 
	}

// ==============================================đây là phần slide
.flickity-prev-next-button.next{right: 10px;}
.flickity-prev-next-button.previous{left: 10px;}
.flickity-button{background: transparent; color: $trang;}
.flickity-button:hover{color:$tim;}
// ===========================================
.carousel-cell {
	width: 50%;
	// height: 100% !important;
	.card{
		img{
		}
		h5.card-title{font-size: 30px;}
		p.card-title{font-size: 25px;}
		p.card-text{font-size: 20px;}
	}
}
}
@media screen and (min-width: 992px){
	.canhtop{height: 100px;
		img{
			height: 100px;
		}
	}	
// ============================================================ đây là phần footer
.footer .phan1 ul li{
	font-size: 18px;
}
.footer .phan2 ul li a{
	transition: .3s;
	&:hover{
		transform: scale(1.3);
	}
	i{
	}
	&:before{
	}
	&:hover:before{
		transform-origin: left;
		transform: scaleX(1);
	}
}
.footer .phan2 ul li a:hover i{
	color: $trang;
}
.footer .phan3 ul {
		li a{
			padding: 5px 30px;
			font-size: 18px;
		} 
	}
.footer .phan2 ul li:nth-child(1) a:before{background-color: #3b5999;}
.footer .phan2 ul li:nth-child(2) a:before{background-color: #55acee;}
.footer .phan2 ul li:nth-child(3) a:before{background-color: #dd4b39;}
.footer .phan2 ul li:last-child a:before{background-image: -webkit-linear-gradient(-45deg,#333AF7 20%,#BA17AC 40%,#FDDB68)}

.footer .phan1 h5, .footer .phan2 h5{font-size: 20px;}
// ===============================================================

// ===========================================

.noidung2{
	color: $trang;
	background-color: rgba($den, .7);
	.canhle{
		h3{
			text-align: right;
		}
		.canhtrai{font-size: 25px;margin-bottom: 20px;}
		.khoicanh{
			position: relative;
			height: 170px;
			&:before{
				content: '';
			}

			.khoitim{
				position: absolute;
				right: -15px;
				width: 120%;
				h5{
					font-size: 50px;

				}	
				h1{
					font-size: 70px;
				}
			}
		}
		h2{font-size: 40px;}
		ul{
			li{
				font-size: 20px;
				i{
					font-size: 20px;
				}
			}
		}
	}
}
// =================================================================
.noidung1{
	.chieucao{
		height: 600px;
		width: 100%;
		.canhtheo{
			position: relative;
			width: 70%;
			height: 70%;
			background-color: $tim;
			padding: 15px;
			img{position: absolute;}
			img.anh1{width: 50%;right: -63px;top: -30px;}
			img.anh3{width: 50%;bottom: -45px;right: -75px;}
			img.anh2{width: 50%;bottom: -50px;left: -34px;}
			p{font-family: $font-b;font-size: 35px;text-transform: uppercase;}
			h3{font-family: $font-b;font-size: 60px;text-transform: uppercase;}
			&:before, &:after{
				content: '';
				position: absolute;
				left: -5px;
				top: -5px;
				background-image: -webkit-linear-gradient(45deg, $tim,$trang,$tim,$trang,$tim,$trang,$tim,$trang,$tim);
				width: calc(100% + 10px);
				height: calc(100% + 10px);
				background-size: 400%;
				z-index: -1;
				animation: animate 10s linear infinite;
			}
			&:after{
				filter: blur(15px);
				opacity: .5;
			}
		}
	}
}
// ==============================
.boslide h5.tieude {
    font-size: 30px;
}
}


